@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container{
    width: 80vw;
}
.navbar li{
    list-style: none;

}
.navbar li{
    display: flex;
    margin: 0px 12px ;
    font-family: "Playwrite NO", 'cursive';
     font-family: "Open Sans", sans-serif; 
}
.navbar{
    display: flex;
    height: 70px;
}
.topleft{
    width: 60%;
    height: 50vh;
}
.topright{
    width: 40%;
    height: 50vh;
   background-color:rgb(165, 124, 42);
}
.section1{
    height: 50vh;
    padding-top: 100px;
}
.with{
    width: 100%;
    height: 100%;
}


