*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 80vw;
}
.navbar li{
    list-style: none;

}
.navbar li{
    display: flex;
    margin: 0px 12px ;
}
.navbar{
    display: flex;
    height: 70px;
}