.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.container{
    max-width: 80vw;
}
.flex{
    display: flex;
}
.items-center{
align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.bold{
    font-family: "IBM Plex Serif", serif;
    font-weight: bold;
    font-size: 32px;
}
.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 40px;
}
.px-2{
    padding-left: 13px;
    padding-right: 13px;
}
.topleft{
    flex-direction: column;
}
.text-blue{
color: rgb(227, 166, 35);
}
.btn{
    padding: 4px 12px;
    border: 2px solid rgb(6, 6, 6);
    color: white;
    background-color:rgb(227, 166, 35);;
    border-radius: 10px;
    cursor: pointer;

}
.dum{
    
    width: 290px;
}
.text-center{
text-align: center;
}
.section2{
    margin-top: 300px;
}
.padding{
    padding-left: 160px;
    padding-right: 100px;
}
.box1 {
    margin: 12px 22px;
    border: 0.6px solid black;
    height: 300px;
    width: 200px;
    border-radius: 3px;



}
.box1 ul{
    list-style: none;
    margin-top: 65px;
    font-size: 1rem;
    row-gap: 15px;
    display: flex;
    gap: 10px;
   align-items: center;
    flex-direction: column;
}
.free{
    padding-bottom: 20px;
}
.boxes{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    
}
.free{
    background-color:rgb(227, 166, 35) ;
}
.but{
    padding: 5px;
    margin-top:30px;
    background-color: rgb(254, 141, 55);
    cursor: pointer;
    border-radius: 5px;
}
 .price{
    height: 80vh;
    width: 100vw;
    margin-top: 65px;
   

 }
 .price h1{
    font-size: 3rem;
 }
 .price p{
    font-size: 1.5rem;
 }
 .gym-right img{
   width: 70vw;  
 } 
.gym-left h1{
    font-size: 2rem;
}
.gym-left{
    width: 30vh;
    margin-top: 65px;
    row-gap: 25px;
    display: flex;
    gap: 10px;
   align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    margin-right: 69px;
}
.gym-image{    
    display: flex;
    height: 80vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.exr{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(255, 171, 2);
    margin-top: 5px;
    margin-bottom: 6px;
}
.copy{
    font-size:1rem ;
    text-align: center;
    padding-top:5px ;
    background-color: #000000;
    height: 100px;
    width: 100vw;
    color: white;
 }
 
 nav{
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgba(0 ,0 ,0,0.1);
    width: 100vw;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
     height: 50px;
     width: 100%;
}
nav a{
    height: 100%;
    color: white;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
nav a:hover{
    background: color #f0f0f0;
    color: #f2b417 ;
}
nav li:first-child{
margin-right: auto;
}
.side-bar{
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 250px;
z-index:999;
backdrop-filter: blur(10px);
background-color: rgb(84, 79, 79);
box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.side-bar li{
    width: 100%;
}
.side-bar a{
    width: 100%;
}
.font{
    background-color: #f2b417;
}
.menu-button{
    display: none;
}
@media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }
}
.menu-button{
    display: block;
}
@media(max-width:400px){
    .side-bar{
        width: 100%;
    }
}

